{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Jaguarete Kaa - Productos{% endblock %}
{% block section %}
<!-- <section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Productos</h1>
    <p class="lead text-muted mb-0">Le Lorem Ipsum est simplement du faux texte employé
      dans la composition et la mise en page avant impression.</p>
  </div>
</section> -->
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'store:home'%}">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Categorias</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{categoria}}</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3">
      <div class="card bg-light mb-3">
        <div class="card-header bg-dark text-white text-uppercase"><i class="fa fa-list"></i>
          Categorias</div>
        <ul class="list-group category_block">
          {% for cat in categorias %}
          <a class="text-decoration-none list-group-item list-group-item-light {% if categoria == cat %}active{% endif %}" href="{{ cat.get_absolute_url }}">
            {{cat}}
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="row">
      	{% for p in producto_list %}
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card mb-3">
            <img class="card-img-top" src="{{p.imagen.url}}" alt="{{p.nombre}}">
            <div class="card-body">
              <h4 class="card-title"><a href="{{p.get_absolute_url}}" title="Ver Producto">{{p.nombre}}</a></h4>
              <p class="card-text">{{p.descripcion|safe|truncatechars:"50"}}</p>
              <div class="row">
                <div class="col">
                  <p class="btn btn-danger btn-block">{{p.precio}} $us.</p>
                </div>
                <div class="col">
                  <a href="" class="btn btn-success btn-block">Add to cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- <div class="col-12">
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Anterior</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Siguiente</a>
              </li>
            </ul>
          </nav>
        </div> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}