{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Jaguarete Kaa - Update {{producto}}{% endblock %}
{% block content %}
<main class="main-content">
  {% include 'includes/breadcrumb.html' with title='Actualizar Producto' subtitle='Update'%}
  <div class="login-register-area section-space-y-axis-100">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
          <form action="" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="login-form">
              <h4 class="login-title text-center">Datos del producto</h4>
              <div class="row">
                <div class="col-lg-12">
                  <label>Categoria</label>
                  {{form.categoria}}
                  <span class="text-danger">{{form.categoria.errors}}</span>
                </div>
                <div class="col-lg-12 mt-3">
                  <label>Nombre del producto</label>
                  {{form.nombre}}
                  <span class="text-danger">{{form.nombre.errors}}</span>
                </div>
                <div class="col-lg-6">
                  <label>Imagen</label>
                  {{form.imagen}}
                  <span class="text-danger">{{form.imagen.errors}}</span>
                </div>
                <div class="col-lg-6">
                  <label>Precio</label>
                  {{form.precio}}
                  <span class="text-danger">{{form.precio.errors}}</span>
                </div>
                <div class="col-lg-12">
                  <label>Descripción</label>
                  {{form.descripcion}}
                </div>
                <div class="col-lg-12 pt-5">
                  <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">Actualizar</button>
                  <a class="btn btn-custom-size lg-size btn-pronia-secondary" type="button" href="{{ request.META.HTTP_REFERER }}">Cancelar</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}