{% extends 'bases/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Jaguarete Kaa - {{producto|title}}{% endblock %}
{% block content %}
<form method="post" action="{% url 'cart:add' producto.id %}">
  {% csrf_token %}
  <main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="assets/images/breadcrumb/bg/1-1-1919x388.jpg">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12">
            <div class="breadcrumb-item">
              <h2 class="breadcrumb-heading">Detalle de producto</h2>
              <ul>
                <li>
                  <a href="{% url 'store:home' %}">Home</a>
                </li>
                <li><a href="{% url 'producto:lista' %}">Productos</a></li>
                <li>{{producto|title}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="product-slider" class="single-product-area section-space-top-100">
      <div class="container">
        <div class="row">
          {% include 'producto/producto-slider.html' %}
          <div class="col-lg-6 pt-5 pt-lg-0">
            <div class="single-product-content">
              <h2 class="title">{{producto.nombre}}</h2>
              <div class="price-box">
                <span class="new-price">${{producto.precio}}</span>
              </div>
              <div class="rating-box-wrap pb-4">
                <div class="rating-box">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                </div>
              </div>
              <p class="short-desc">{{producto.descripcion|safe}}</p>
              <ul class="quantity-with-btn">
                <li class="quantity">
                  <div class="cart-plus-minus">
                    <input id="id_cantidad" name="cantidad" class="cart-plus-minus-box" value="1" type="text">
                  </div>
                </li>
                <li class="add-to-cart">
                  <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">Add carrito
                  </button>
                </li>
                {% if perms.producto.change_producto %}
                <li class="wishlist-btn-wrap">
                  <a class="custom-circle-btn" href="{% url 'producto:actualizar' producto.slug %}">
                    <i class="pe-7s-pen"></i>
                  </a>
                </li>
                {% endif %}
                {% if perms.producto.delete_producto %}
                <li class="compare-btn-wrap">
                  <a class="custom-circle-btn" href="{% url 'producto:eliminar' producto.slug %}">
                    <i class="pe-7s-trash"></i>
                  </a>
                </li>
                {% endif %}
              </ul>
              <ul class="service-item-wrap">
                <li class="service-item">
                  <div class="service-img">
                    <img src="{% static 'store/images/car.png' %}" alt="Shipping Icon">
                  </div>
                  <div class="service-content">
                    <span class="title">Envío <br> gratuito</span>
                  </div>
                </li>
                <li class="service-item">
                  <div class="service-img">
                    <img src="{% static 'store/images/card.png' %}" alt="Shipping Icon">
                  </div>
                  <div class="service-content">
                    <span class="title">Pago <br> seguro</span>
                  </div>
                </li>
                <li class="service-item">
                  <div class="service-img">
                    <img src="{% static 'store/images/service.png' %}" alt="Shipping Icon">
                  </div>
                  <div class="service-content">
                    <span class="title">Soporte <br> 24/7</span>
                  </div>
                </li>
              </ul>
              <div class="product-category">
                <span class="title">Categorias :</span>
                <ul>
                  <li>
                    <a href="/productos/categoria/{{producto.categoria|lower}}">{{producto.categoria|lower}}</a>
                  </li>
                </ul>
              </div>
              <div class="product-category product-tags">
                <span class="title">Tags :</span>
                <ul>
                  <li>
                    <a href="/buscar/?f={{producto.categoria|lower}}/">{{producto.categoria|lower}}</a>
                  </li>
                </ul>
              </div>
              <div class="product-category social-link align-items-center pb-0">
                <span class="title pe-3">Compartir:</span>
                <ul>
                  <li>
                    <a href="#" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'producto/producto-tab-area.html' %}
  </main>
</form>
<!-- <div class="mad-content no-pd">
    <div class="container">
      <div class="mad-section">
        <div class="content-element-10">
          <div class="mad-product mad-product-single">
            <div class="row hr-size-2 vr-size-2 sticky-bar">
              <div class="col-xl-6">
                <div class="image-preview-container">
                  <div class="image-preview">
                    <a href="#">
                      <img id="zoom-image" src="{{producto.imagen.url}}" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <h3 class="mad-product-title">{{producto.nombre}}</h3>
                <div class="mad-product-info">
                  <div class="mad-info-item">
                    <div class="mad-col">
                      <div class="mad-text-small content-element">Cateogoría:
                        <a href="/productos/categoria/{{producto.categoria}}" class="mad-link">{{producto.categoria|lower}}</a>
                      </div>
                    </div>
                  </div>
                  <div class="mad-info-item">
                    <div class="mad-product-price">${{producto.precio}}</div>
                  </div>
                  <div class="mad-info-item">
                    <p class="mad-text-small text-justify">{{producto.descripcion|linebreaks}}</p>
                  </div>
                  <div class="mad-info-item">
                    <div>
                      <p class="mad-text-small content-element">Cantidad</p>
                      <div class="btn-set">
                        <div class="quantity size-2">
                          <input id="id_cantidad" name="cantidad" type="text" value="1" readonly="">
                          <button type="button" class="qty-plus"><i class="material-icons">add</i></button>
                          <button type="button" class="qty-minus"><i class="material-icons">remove</i></button>
                        </div>
                        <button type="submit" class="btn btn-big btn-style-3" {% if not perms.users.can_view_cart %}disabled{% endif %}>
                          <i class="material-icons-outlined">shopping_bag</i><span>Añadir al Carrito</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="mad-info-item">
                    <ul class="product-meta">
                      <li class="tags">
                        <span>Compartir:</span>
                        <div class="mad-social-icons type-2">
                          <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="color-2"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="color-4"><i class="fab fa-instagram"></i></a></li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
{% endblock %}