{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Jaguarete Kaa - Nuevo Producto{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'store:home'%}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'producto:lista'%}">Productos</a></li>
          <li class="breadcrumb-item active" aria-current="page">Nuevo producto</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container mb-5">
  <form action="{% url 'producto:nuevo' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="row p-3 ">
      <div class="col-12 col-md-6">
        <div class="p-3  rounded border ">
          <div class="form-group row mb-2">
            <label class="col-lg-3 col-form-label mb-2 mb-lg-0">
              Categoria</label>
            <div class="col-lg-9">{{form.categoria}}</div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-lg-3 col-form-label mb-2 mb-lg-0">
              Nombre</label>
            <div class="col-lg-9">{{form.nombre}}</div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-lg-3 col-form-label mb-2 mb-lg-0">
              Imagen</label>
            <div class="col-lg-9">{{form.imagen}}</div>
          </div>
          <div class="form-group row mb-2">
            <label class="col-lg-3 col-form-label mb-2 mb-lg-0">
              Precio</label>
            <div class="col-lg-9">{{form.precio}}</div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label mb-2 mb-lg-0">
              Descripcion</label>
            <div class="col-lg-9">{{form.descripcion}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <a class="btn btn-secondary" type="button" href="{% url 'producto:lista'%}">Cancelar</a>
      <input type="submit" class="btn btn-primary" value="Registrar Producto">
    </div>
  </form>
</div>
{% endblock %}