<div class="product-tab-area section-space-top-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav product-tab-nav tab-style-2 pt-0" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="active tab-btn" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Descripción general</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="tab-btn" id="information-tab" data-bs-toggle="tab" href="#information" role="tab" aria-controls="information" aria-selected="false">Información de envío</a>
          </li>
        </ul>
        <div class="tab-content product-tab-content mb-5">
          <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
            <div class="product-description-body">
              <p class="short-desc mb-3">Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado muchos sitios web que usan este texto si se encuentran en estado de desarrollo.</p>
              <p class="short-desc">Lorem ipsum dolor sit amet, consectetur adipisic elit, sed do eiusmod tempo incid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
            </div>
          </div>
          <div class="tab-pane fade" id="information" role="tabpanel" aria-labelledby="information-tab">
            <div class="product-information-body">
              <h4 class="title">Envío del producto</h4>
              <p class="short-desc mb-4">El artículo se enviará desde China. Por lo que se necesitan entre 15 y 20 días para la entrega. Nuestro producto es bueno con un precio razonable y creemos que valdrá la pena. ¡Así que espere pacientemente! Gracias. Si tiene alguna pregunta, póngase en contacto con nosotros y nos comprometemos a trabajar duro para ayudarlo a resolver el problema.</p>
              <h4 class="title">Acerca de la solicitud de devolución</h4>
              <p class="short-desc mb-4">Si no necesita el artículo con preocupación, puede contactarnos y luego lo ayudaremos a resolver el problema, así que cierre la solicitud de devolución. Gracias</p>
              <h4 class="title">Garantía</h4>
              <p class="short-desc mb-0">Si se trata de una cuestión de calidad, te la reenviaremos o te reembolsaremos; Si recibe artículos dañados o incorrectos, contáctenos y adjunte algunas imágenes sobre el producto, le intercambiaremos un nuevo artículo correcto después de la confirmación.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>