<div class="container mt-3 mb-5">
	<div class="row">
		<div class="col-sm">
			<div class="card">
				<div class="card-header bg-primary text-white text-uppercase">
					<i class="fa fa-star"></i> Nuevos productos
				</div>
				<div class="card-body">
					<div class="row">
						<div class="table-responsive">
							<table class="table table-hover">
								<tbody>
									{% for p in productos|slice:"3:" %}
									<tr>
										<td width="65">
											<img src="{{p.imagen.url}}" class="img-xs border">
										</td>
										<td>
											<p class="title mb-0"><b>{{p.nombre}}</b></p>
											<var class="price text-muted">{{p.precio}} $us.</var>
										</td>
										<td><b>{{p.categoria}}</b><br>{{p.descripcion|safe|truncatechars:"50"}} </td>
										<td width="100"> 
											<a href="#" class="btn btn-info" width="50">Ver detalle</a>
										</td>
										<td width="100">
											<a href="#" class="btn btn-success" width="50">Add carrito</a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>