{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Jaguarete Kaa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
      <ul class="nav navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'store:home'%}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for cat in categorias %}
            <a class="dropdown-item" href="{{ cat.get_absolute_url }}">{{cat}}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store:about'%}">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:info@example.com">Contacto</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'producto:nuevo'%}">Nuevo Producto</a>
        </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Buscar...">
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary btn-number">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <a class="btn btn-success btn-sm ml-3" href="{% url 'cart:detalle'%}">
          <i class="fa fa-shopping-cart"></i> Carrito
          <span class="badge badge-light" id="">{{request.session.cart|length}}</span>
        </a>
      </form>
    </div>
  </div>
</nav>