{% load static %}
<header class="main-header-area">
  <div class="header-middle py-30">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="header-middle-wrap position-relative">
            <a href="{% url 'store:home'%}" class="header-logo">
              <img src="{% static 'store/images/logo.png' %}" alt="Logo">
            </a>
            <div class="searchbox d-none d-lg-block">
              <form method='GET' action='/buscar/'>
                <input id="f" name="f" class="input-field" type="text" placeholder="Buscar" autocomplete="off">
                <button id="buscar" class="searchbox-btn" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </div>
            <div class="header-right">
              <ul>
                {% if user.is_authenticated %}
                <li class="d-none d-lg-block">
                  Hi, {{request.user.username}}
                </li>
                {% endif %}
                <li class="dropdown d-none d-lg-block">
                  <button class="btn btn-link dropdown-toggle ht-btn p-0" type="button" id="settingButton" data-bs-toggle="dropdown" aria-label="setting" aria-expanded="false">
                    <i class="pe-7s-users"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="settingButton">
                    {% if user.is_authenticated %}
                    <li>
                      <a class="dropdown-item" href="{% url 'users:dashboard' %}">Mi cuenta</a>
                    </li>
                    {% if perms.producto.add_producto %}
                    <li>
                      <a class="dropdown-item" href="{% url 'producto:nuevo'%}">Nuevo Producto</a>
                    </li>
                    {% endif %}
                    <li>
                      <a class="dropdown-item" href="{% url 'logout'%}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                      <a class="dropdown-item" href="{% url 'login'%}">Login</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'users:register'%}">Registrarse</a>
                    </li>
                    {% endif %}
                  </ul>
                </li>
                <li class="minicart-wrap me-3 me-lg-0">
                  <a href="{% url 'cart:detalle'%}" class="minicart-btn">
                    <i class="pe-7s-cart"></i>
                    <span class="quantity">{{request.session.cart|length}}</span>
                  </a>
                </li>
                <li class="mobile-menu_wrap d-block d-lg-none">
                  <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn pl-0">
                    <i class="fa fa-bars"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom d-none d-lg-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-menu position-relative">
            <nav class="main-nav">
              <ul>
                <li>
                  <a href="{% url 'store:home'%}">Home</a>
                </li>
                <li class="drop-holder">
                  <a href="#">Categorias</a>
                  <ul class="drop-menu">
                    {% for cat in categories %}
                    <li>
                      <a href="{{cat.get_absolute_url}}">{{cat|title}}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                <li>
                  <a href="{% url 'store:about'%}">Acerca de</a>
                </li>
                <li>
                  <a href="mailto:d.cruz@outlook.com">Contacto</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/header-sticky.html' %}
  {% include 'includes/header-mobile.html' %}
  {% include 'includes/header-modal.html' %}
  <!-- {% include 'includes/header-cart.html' %} -->
  <div class="global-overlay"></div>
</header>