{% load static %}
<div class="shipping-area section-space-y-axis-100">
  <div class="container">
    <div class="shipping-bg">
      <div class="row shipping-wrap">
        <div class="col-lg-4 col-md-6">
          <div class="shipping-item">
            <div class="shipping-img">
              <img src="{% static 'store/images/car.png' %}" alt="Shipping Icon">
            </div>
            <div class="shipping-content">
              <h2 class="title">Envio gratuito</h2>
              <p class="short-desc mb-0">Compras mayores a $49,99</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="shipping-item">
            <div class="shipping-img">
              <img src="{% static 'store/images/card.png' %}" alt="Shipping Icon">
            </div>
            <div class="shipping-content">
              <h2 class="title">Compras seguras</h2>
              <p class="short-desc mb-0">Pago 100% seguro</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="shipping-item">
            <div class="shipping-img">
              <img src="{% static 'store/images/service.png' %}" alt="Shipping Icon">
            </div>
            <div class="shipping-content">
              <h2 class="title">Excelente servicio</h2>
              <p class="short-desc mb-0">Soporte 24/7</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>