<div class="mad-section no-pd mad-section--stretched mad-colorizer--scheme-color-2">
  <div class="mad-colorizer-bg-color" style="left: -247.5px; right: -247.5px;"></div>
  <div class="mad-sub-wrap">
    <h5 class="mad-page-title">Reciba nuestras mejores ofertas semanalmente!</h5>
    <div class="mad-col">
      <form class="mad-newsletter-form one-line">
        <input type="email" name="email" placeholder="Ingrese su email">
        <button type="submit" class="btn btn-big btn-style-3"><span>Suscribirse</span></button>
      </form>
    </div>
  </div>
</div>