{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Jaguarete Kaa - Reset Confirm{% endblock %}
{% block content %}
{% if validlink %}
<main class="main-content">
  {% include 'includes/breadcrumb.html' with title='Restablecer contraseña' subtitle='Reset confirm'%}
  <div class="login-register-area section-space-y-axis-100">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
          <form action="" method="post">
            {% csrf_token %}
            <div class="login-form">
              {% if form.errors %}
              <p class="text-danger text-center">Introduzca una contraseña válida.</p>
              {% endif %}
              <div class="row">
                <div class="col-lg-12">
                  <label>Nueva contraseña*</label>
                  {{ form.new_password1 }}
                </div>
                <div class="col-lg-12">
                  <label>Confirmar*</label>
                  {{ form.new_password2 }}
                </div>
                <div class="col-lg-12">
                  <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">Restablecer</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% else %}
<div class="shop-area section-space-y-axis-100">
  <div class="container">
    <div class="row">
      <div class="section-title-wrap without-tab">
        <h2 class="section-title">Enlace invalido</h2>
        <p class="section-desc">El enlace para restablecer la contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña.</p>
        <a href="{% url 'store:home' %}" class="btn btn-custom-size lg-size btn-pronia-primary">Continuar</a>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}