{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Jaguarete Kaa - Resgister{% endblock %}
{% block content %}
<form method="post" action="{% url 'users:register' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <main class="main-content">
    {% include 'includes/breadcrumb.html' with title='Nuevo usuario' subtitle='Registro'%}
    <div class="login-register-area section-space-y-axis-100">
      <div class="container">
        <div class="row">
          {% for campo in form %}
          {% for error in campo.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
          {% endfor %}
          <div class="col-lg-6">
            <div class="login-form">
              <h4 class="login-title">Datos Personales</h4>
              <div class="row">
                <div class="col-lg-6">
                  <label>Nombres*</label>
                  {{form.first_name}}
                </div>
                <div class="col-lg-6">
                  <label>Apellidos*</label>
                  {{form.last_name}}
                </div>
                <div class="col-lg-12">
                  <label>Dirección*</label>
                  {{form.direction}}
                </div>
                <div class="col-lg-6">
                  <label>País</label>
                  {{form.country}}
                </div>
                <div class="col-lg-6">
                  <label>Teléfono</label>
                  {{form.telephone}}
                </div>
                <div class="col-lg-12">
                  <label>Avatar</label>
                  {{form.avatar}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <div class="login-form">
              <h4 class="login-title">User Info</h4>
              <div class="row">
                <div class="col-md-6 col-12">
                  <label>Username*</label>
                  {{form.username}}
                </div>
                <div class="col-md-12">
                  <label>Email*</label>
                  {{form.email}}
                </div>
                <div class="col-md-6">
                  <label>Password*</label>
                  {{form.password1}}
                </div>
                <div class="col-md-6">
                  <label>Confirmar Password*</label>
                  {{form.password2}}
                </div>
                <div class="col-6">
                  <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">Registrar</button>
                </div>
                <div class="col-6">
                  <a href="{% url 'store:home'%}" class="btn btn-custom-size lg-size btn-pronia-secondary">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</form>
{% endblock %}