{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Jaguarete Kaa - Login{% endblock %}
{% block section %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Hasta pronto!</h1>
    <p class="lead text-muted mb-0">Gracias por usar nuestros servicios</p>
  </div>
</section>
{% endblock %}
{% block content %}

<!-- <p>Has sido desconectado.</p>

<a href="{% url 'login'%}">Click aqui para volver a acceder.</a> -->

{% endblock %}
{% block footer %}
{% endblock %}