{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Jaguarete Kaa - About{% endblock %}
{% block section %}
<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">Acerca de</h1>
		<p class="lead text-muted mb-0">
			At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
			praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
			excepturi sint occaecati cupiditate non provident.</p>
	</div>
</section>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-6 float-left" style="text-align: justify;">
		<h2>Welcome</h2>
		<h5 class="my-sm-3 my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
			do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
		<img src="https://dummyimage.com/600x400/cfcfcf/ffffff.png" class="img-fluid" alt=" ">
	</div>
</div>
{% endblock %}