{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Jaguarete Kaa - Carrito{% endblock %}
{% block section %}
<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">Carrito de compras</h1>
		<p class="lead text-muted mb-0">Le Lorem Ipsum est simplement du faux texte employé
			dans la composition et la mise en page avant impression.</p>
	</div>
</section>
{% endblock %}
{% block content %}
<div class="container mb-4">
	<div class="row">
		<div class="col-12">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col"> </th>
							<th scope="col">Product</th>
							<th scope="col">Available</th>
							<th scope="col" class="text-center">Quantity</th>
							<th scope="col" class="text-right">Price</th>
							<th> </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
							<td>Product Name Dada</td>
							<td>In stock</td>
							<td><input class="form-control" type="number" value="1" min="1"/></td>
							<td class="text-right">124,90 €</td>
							<td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>
								</button> </td>
						</tr>
						<tr>
							<td><img src="https://dummyimage.com/50x50/cfcfcf/fff" /> </td>
							<td>Product Name Toto</td>
							<td>In stock</td>
							<td><input class="form-control" type="number" value="1" min="1"/></td>
							<td class="text-right">33,90 €</td>
							<td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>
								</button> </td>
						</tr>
						<tr>
							<td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
							<td>Product Name Titi</td>
							<td>In stock</td>
							<td><input class="form-control" type="number" value="1" min="1"/></td>
							<td class="text-right">70,00 €</td>
							<td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>
								</button> </td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>Sub-Total</td>
							<td class="text-right">255,90 €</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>Shipping</td>
							<td class="text-right">6,90 €</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td><strong>Total</strong></td>
							<td class="text-right"><strong>346,90 €</strong></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col mb-2">
			<div class="row">
				<div class="col-sm-3  col-md-3">
					<button class="btn btn-block btn-primary">Continuar comprando</button>
				</div>
				<div class="col-sm-3 col-md-3 text-right">
					<button class="btn btn-block btn-success text-uppercase">Pagar</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}