{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <link rel="icon" type="image/png" href="{% static 'store/images/favicon.png' %}" sizes="64x64">
  <!-- Description -->
  <meta name="author" content="Diego Osvaldo" />
  <meta name="description" content="Jaguarete Kaa, Ecommerce & Shopping Site" />
  <meta name="keywords" content="Jaguarete, Jaguar, Ecommerce, Shopping, marketing, e-commerce, ecomm, e-comm, shop, e-shop, store, market, market place, place, diego, osvaldo, diego osvaldo, diego cruz" />
  <meta name="Resource-type" content="Document" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Open Graph data -->
  <meta property="og:site_name" content="Jaguarete Kaa" />
  <meta property="og:title" content="Jaguarete Kaa | Ecommerce & Shopping Site" />
  <meta property="og:description" content="Jaguarete Kaa, Ecommerce & Shopping Site" />
  <meta property="og:image" content="{% static 'store/images/thumbnail.jpg'%}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://jaguarete.diegoosvaldo.me/" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'store/images/favicon.png' %}" />
  <!-- Title -->
  <title>{% block title %}Title{% endblock %}</title>
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'store/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'store/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'store/css/Pe-icon-7-stroke.css' %}" />
  <link rel="stylesheet" href="{% static 'store/css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'store/css/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'store/css/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'store/css/magnific-popup.min.css' %}" />
  <link rel="stylesheet" href="{% static 'store/css/ion.rangeSlider.min.css' %}" />
  <!-- Style CSS -->
  <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
  <!-- Extra CSS block -->
  {% block extra_css %}{% endblock %}
</head>

<body>
  <div class="preloader-activate preloader-active open_tm_preloader">
    <div class="preloader-area-wrap">
      <div class="spinner d-flex justify-content-center align-items-center h-100">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
  </div>
  <div class="main-wrapper">
    <!-- Begin Main Header Area -->
    {% block navbar %}
    {% include 'includes/navbar.html' %}
    {% endblock %}
    <!-- Main Header Area End Here -->

    <!-- Begin Slider Area -->
    {% block slider %}
    {% endblock %}
    <!-- Slider Area End Here -->

    <!-- Begin Content Main Area -->
    {% block content %}
    {% endblock %}
    <!-- Content Main Area End Here -->

    <!-- Begin Shipping Area -->
    {% block shipping %}
    {% endblock %}
    <!-- Shipping Area End Here -->

    <!-- Begin NEW Product Area -->
    {% block new_products %}
    {% endblock %}
    <!-- Product Area End Here -->

    <!-- Begin Footer Area -->
    {% block footer %}
    {% include 'includes/footer.html' %}
    {% endblock %}
    <!-- Footer Area End Here -->

    <!-- Begin Modal Area -->
    {% block modal %}
    {% endblock %}
    <!-- Modal Area End Here -->

    <!-- Begin Scroll To Top -->
    <a class="scroll-to-top" href="">
      <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- Scroll To Top End Here -->

  </div>
  <!-- Global Vendor, plugins JS -->
  <!-- JS Files
    ============================================ -->
  <script src="{% static 'store/js/vendor/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'store/js/vendor/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'store/js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
  <script src="{% static 'store/js/vendor/jquery.waypoints.js' %}"></script>
  <script src="{% static 'store/js/vendor/modernizr-3.11.2.min.js' %}"></script>
  <script src="{% static 'store/js/plugins/wow.min.js' %}"></script>
  <script src="{% static 'store/js/plugins/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'store/js/plugins/jquery.nice-select.js' %}"></script>
  <script src="{% static 'store/js/plugins/parallax.min.js' %}"></script>
  <script src="{% static 'store/js/plugins/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'store/js/plugins/tippy.min.js' %}"></script>
  <script src="{% static 'store/js/plugins/ion.rangeSlider.min.js' %}"></script>
  <script src="{% static 'store/js/plugins/mailchimp-ajax.js' %}"></script>
  <script src="{% static 'store/js/plugins/jquery.counterup.js' %}"></script>
  <!--Main JS (Common Activation Codes)-->
  <script src="{% static 'store/js/main.js' %}"></script>
  {% block extra_js %}{% endblock %}
  <script type="text/javascript">
  $("#buscar").on('click', function() {
    event.preventDefault();
    if (!$('#f').val().trim().length) {
      alert('Ingrese un filtro para buscar productos');
      return false;
    }
    let new_url = "/productos/buscar/" + $("#f").val();
    window.location = new_url;
  });
  </script>
</body>

</html>