{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Jaguarete Kaa - Productos{% endblock %}
{% block section %}
<section class="jumbotron text-center">
  <div class="container">
    {% if filter %}
    <h1 class="jumbotron-heading">Buscar: {{filter}}</h1>
    {% else %}
    <h1 class="jumbotron-heading">Categoria: {% if not categoria %}TODAS{% else %}{{categoria}}{% endif %}</h1>
    {% endif %}
    <p class="lead text-muted mb-0">Le Lorem Ipsum est simplement du faux.</p>
  </div>
</section>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'store:home'%}">Home</a></li>
          {% if filter %}
          <li class="breadcrumb-item"><a href="{% url 'producto:lista'%}">Productos</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{filter}}</li>
          {% else %}
          <li class="breadcrumb-item"><a href="#">Categorias</a></li>
          <li class="breadcrumb-item active" aria-current="page">{% if not categoria %}TODAS{% else %}{{categoria}}{% endif %}</li>
          {% endif %}
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3">
      <div class="card bg-light mb-3">
        <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i>
          Categorias</div>
        <ul class="list-group category_block">
          {% for cat in categories %}
          <a class="text-decoration-none list-group-item list-group-item-light {% if categoria == cat %}active{% endif %}" href="{{ cat.get_absolute_url }}">
            {{cat}}
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="row">
        {% for p in producto_list %}
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card mb-3">
            <img class="card-img-top" src="{{p.imagen.url}}" alt="{{p.nombre}}">
            <div class="card-body">
              <h4 class="card-title text-primary">{{p.nombre}}</h4>
              <p class="card-text">{{p.descripcion|safe|truncatechars:"50"}}</p>
              <div class="row">
                <div class="col">
                  <p class="btn btn-danger btn-block disabled">{{p.precio}} $us.</p>
                </div>
                <div class="col">
                  <a href="{{p.get_absolute_url}}" class="btn btn-info btn-block">Ver detalle</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card mb-3">
            <img class="card-img-top" src="/media/img/nn.png" alt="NN">
            <div class="card-body">
              <p class="card-text">No existen productos.</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% if is_paginated %}
      {% include 'includes/pagination.html' %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}