{% extends 'bases/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Jaguarete Kaa - Checkout{% endblock title %}
{% block content %}
<form method="post">
  {% csrf_token %}
  <main class="main-content">
    {% include 'includes/breadcrumb.html' with title='Página de pago' subtitle='Checkout' %}
    <div class="checkout-area section-space-y-axis-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12">
              <div class="checkbox-form">
                <h3>DETALLES DE FACTURACIÓN</h3>
                <div class="row">
                  <div class="col-md-12">
                    <div class="checkout-form-list">
                      <label>Nombre completo <span class="required">*</span></label>
                      {{form.nombre}}
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="checkout-form-list">
                      <label>Direccion <span class="required">*</span></label>
                      {{form.direccion}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="checkout-form-list">
                      <label>País <span class="required">*</span></label>
                      <input placeholder="" type="text">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="checkout-form-list">
                      <label>Ciudad <span class="required">*</span></label>
                      {{form.ciudad}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="checkout-form-list">
                      <label>Email <span class="required">*</span></label>
                      {{form.email}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="checkout-form-list">
                      <label>Teléfono <span class="required">*</span></label>
                      {{form.numero}}
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="checkout-form-list">
                      <label>Observaciones</label>
                      {{form.descripcion}}
                    </div>
                  </div>
                </div>
              </div>
          </div>
          {% include "order/order_summary.html" with items=cart total_price=cart.get_precio_total %}
        </div>
      </div>
    </div>
  </main>
</form>
{% endblock content %}