<div class="col-lg-6 col-12">
  <div class="your-order">
    <h3>RESUMEN DEL PEDIDO</h3>
    <div class="your-order-table table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="cart-product-name">Producto</th>
            <th class="cart-product-total">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr class="cart_item">
            <td class="cart-product-name">
              {{ item.producto.nombre|title }}
              <strong class="product-quantity">
                × {{ item.cantidad }}
              </strong>
            </td>
            <td class="cart-product-total">
              <span class="amount">${{ item.precio_total }}</span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr class="cart-subtotal">
            <th>Subtotal Carrito</th>
            <td><span class="amount">${{ total_price }}</span></td>
          </tr>
          <tr class="cart-subtotal">
            <th>Costo Envio</th>
            <td><span class="amount">$0.0</span></td>
          </tr>
          <tr class="order-total">
            <th>Total del pedido</th>
            <td><strong><span class="amount">${{ total_price }}</span></strong></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="payment-method">
      <div class="payment-accordion">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="#payment-1">
              <h5 class="panel-title">
                <a href="#" class="" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">Transferencia bancaria</a>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
              <div class="card-body">
                <p>Realice su pago directamente en nuestra cuenta bancaria. Utilice su ID de pedido como referencia de pago. Su pedido no se enviará hasta que los fondos se hayan transferido a nuestra cuenta.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="#payment-2">
              <h5 class="panel-title">
                <a href="#" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">Pago con cheque</a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                <p>Realice su pago directamente en nuestra cuenta bancaria. Utilice su ID de pedido como referencia de pago. Su pedido no se enviará hasta que los fondos se hayan transferido a nuestra cuenta.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="#payment-3">
              <h5 class="panel-title">
                <a href="#" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                  PayPal
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                <p>Realice su pago directamente en nuestra cuenta bancaria. Utilice su ID de pedido como referencia de pago. Su pedido no se enviará hasta que los fondos se hayan transferido a nuestra cuenta.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="order-button-payment">
          <input type="submit" name="submit" value="FINALIZAR COMPRA" id="submit-id-submit">
        </div>
      </div>
    </div>
  </div>
</div>
