{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Jaguarete Kaa - Pedido realizado{% endblock title %}
{% block content %}
<div class="shop-area section-space-y-axis-100">
  <div class="container">
    <div class="row">
      <div class="section-title-wrap without-tab">
        <h2 class="section-title">Gracias por su compra!</h2>
        <p class="section-desc">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
        </p>
        <a href="{% url 'store:home' %}" class="btn btn-custom-size lg-size btn-pronia-primary">Continuar</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}