{% extends 'bases/base.html' %}
{% block title %} JaguaShop - Error 403{% endblock %}
{% block content %}
<div class="shop-area section-space-y-axis-100">
  <div class="container">
    <div class="row">
      <div class="section-title-wrap without-tab">
        <h2 class="section-title">
          <i class="fa fa-bug" style="font-size: 3em; padding-right: 5px"></i>
          <span class="text-center" style="font-size: 3em;">403</span>
        </h2>
        <p>Lo sentimos, no tiene permisos para realizar esta acción.
          <br>Por favor comuniquese con un <a href="#">Administrador</a>
        </p>
        <p class="small">
          Para acceder a esta página, necesita iniciar sesión con una cuenta diferente.<br>
          Usted esta autenticado como <b>{{request.user}}</b>.
          <br>¿Desea autenticarse con una cuenta diferente?
          <a href="{% url 'logout' %}">Click aquí</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}